<div class="card mb-3 ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="http://localhost:8090/{{project.image}}" class="img-fluid rounded-start" alt="{{project.title}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <span style="display: flex;gap: 10px;"><label style="display: inline;">description : </label><p class="card-text">{{project.description}}</p></span>
                <span style="display: flex;gap: 10px;"><label style="display: inline;">status : </label><p class="card-text">{{project.status}}</p></span>
                <span style="display: flex;gap: 10px;"><label style="display: inline;">startDate : </label><p class="card-text">{{project.startDate}}</p></span>
                <span style="display: flex;gap: 10px;"><label style="display: inline;">endDate : </label><p class="card-text">{{project.endDate}}</p></span>
                <span style="display: flex;gap: 10px;"><label style="display: inline;">teamSize : </label><p class="card-text">{{project.teamSize}}</p></span>
            </div>
        </div>
    </div>
</div>
